body {
  background: linear-gradient(
    110.5deg,
    rgba(248, 196, 249, 0.66) 22.8%,
    rgba(253, 122, 4, 0.15) 64.6%
  );
}
h1 {
  padding: 0px 30px;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  margin: 0;
}
li {
  list-style: none;
  font-family: "Roboto Slab", serif;
  padding: 0px 20px;
}
ul {
  padding: 0;
  font-family: "Roboto Slab", serif;
}
body {
  padding: 80px;
}
.day {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
}
.temperature {
  margin: auto;
  padding: 0px 30px;
  font-size: 45px;
  font-family: "Roboto Slab", serif;
}
.degree {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  position: relative;
  right: 37px;
  bottom: 19px;
}
.container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  display: block;
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 10px 5px;
}
.col {
  width: 30%;
}
.col-2 {
  width: 20%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.search-bar {
  padding: 15px;
  position: relative;
  left: 30%;
}
.main {
  padding: 0px 30px;
}
.icon {
  position: relative;
  top: 10px;
}
.weather-temperature img {
  height: 64;
  width: 64;
}
